{% extends "base_bootstrap.html" %}
{% block content %}
<h1>Watch list</h1>
<p>
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}?next={% url 'app:watchlist' %}">Logout</a>
  <form>
    <input type="text" placeholder="Search.." name="search"
    {% if search %} value="{{ search }}" {% endif %}
    >
    <button type="submit"><i class="fa fa-search"></i></button>
  <a href="{% url 'app:watchlist' %}"><i class="fa fa-undo"></i></a>
  </form>
  <p>
  {% if watchlist %}
  <ul>
    {% for item in watchlist %}
      {% for key, value in item.items %}
      <li>
          <p>{{ key }}: <strong>{{ value }}</strong></p>
      </li>
      {% endfor %}
      <hr></hr>
    {% endfor %}
  </ul>
  {% else %}
    <p>No data!</p>
  {% endif %}
  </p>
  {% else %}
  <a href="{% url 'login' %}?next={% url 'app:watchlist' %}">Login</a>
  {% endif %}
  </p>
{% endblock %}
